<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/bootstrap.min.css"
    />
    <title>Ajoute un étudiant</title>
  </head>
  <body>
    <div class="container">
      <div class="row py-3">
        <div class="col">
            <a href="home.html" class="me-2 btn btn-secondary"> Accueil </a>
            <a href="students.html" class=" btn btn-secondary"> Étudiants </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1>Bienvenue ! Ajoute un étudiant</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <form action="" method="POST" class="form mt-3">
            <input
              type="text"
              name="studentName"
              class="form-control mb-3"
              placeholder="Nom de l'étudiant.e"
              required
            />
            <input
              type="date"
              name="studentDate"
              class="form-control mb-3"
              placeholder="Date d'anniversaire"
              required
            />
            <button type="submit" class="btn btn-success">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
