<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css" />
<title>Étudiants</title>

<div class="container">
  <div class="row py-3">
    <div class="col">
      <a href="home.html" class="me-2 btn btn-secondary"> Accueil </a>
      <a href="students.html" class="btn btn-secondary"> Étudiants </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Liste d'étudiants</h1>
    </div>
  </div>
  <div class="row">
    <ul class="col" id="studentsList">
        
    </ul>
  </div>
</div>
